@*@using JuiceBar.Data.Models
    @model IEnumerable<Drink>*@


<div>
    <h2>@Model.CurrentCategory</h2>
</div>

@{
    foreach (Drink drink in Model.Drinks)
    {
        @Html.Partial("DrinksSummary", drink)
    }
}